In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
name=[]
position=[]
age=[]
nation=[]
team=[]
value=[]

matches=[]
goals=[]
owngoals=[]
assists=[]
yellowcard=[]
secondyc=[]
redcard=[]
subin=[]
subout=[]

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 \
(KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36'}

In [4]:
# 수비수
for i in range(1, 7) :

    for k in range(1, 21):

        url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=Abwehr&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id={i}&plus=1&page={k}"

        r= requests.get(url, headers=headers)
        r.status_code

        soup = BeautifulSoup(r.text, 'html.parser')
        player_info= soup.find_all('tr', class_=['odd', 'even'])

        # player_info에서 'td'태그만 모두 찾기
        for info in player_info:
            player = info.find_all("td")
            name.append(player[3].text)
            position.append(player[4].text)
            age.append(player[5].text)
            nation.append(player[6].img['alt'])
            team.append(player[7].img['alt'])
            value.append(player[8].text.strip())
            matches.append(player[9].text)
            goals.append(player[10].text)
            owngoals.append(player[11].text)
            assists.append(player[12].text)
            yellowcard.append(player[13].text)
            secondyc.append(player[14].text)
            redcard.append(player[15].text)
            subin.append(player[16].text)
            subout.append(player[17].text)

In [7]:
# 골키퍼
for i in range(1, 5) :

    for k in range(1, 21):

        url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=Torwart&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id={i}&plus=1&page={k}"

        r= requests.get(url, headers=headers)
        r.status_code

        soup = BeautifulSoup(r.text, 'html.parser')
        player_info= soup.find_all('tr', class_=['odd', 'even'])

        # player_info에서 'td'태그만 모두 찾기
        for info in player_info:
            player = info.find_all("td")
            name.append(player[3].text)
            position.append(player[4].text)
            age.append(player[5].text)
            nation.append(player[6].img['alt'])
            team.append(player[7].img['alt'])
            value.append(player[8].text.strip())
            matches.append(player[9].text)
            goals.append(player[10].text)
            owngoals.append(player[11].text)
            assists.append(player[12].text)
            yellowcard.append(player[13].text)
            secondyc.append(player[14].text)
            redcard.append(player[15].text)
            subin.append(player[16].text)
            subout.append(player[17].text)

for k in range(1, 6):

    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=Torwart&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id=5&plus=1&page={k}"

    r= requests.get(url, headers=headers)
    r.status_code

    soup = BeautifulSoup(r.text, 'html.parser')
    player_info= soup.find_all('tr', class_=['odd', 'even'])

    # player_info에서 'td'태그만 모두 찾기
    for info in player_info:
        player = info.find_all("td")
        name.append(player[3].text)
        position.append(player[4].text)
        age.append(player[5].text)
        nation.append(player[6].img['alt'])
        team.append(player[7].img['alt'])
        value.append(player[8].text.strip())
        matches.append(player[9].text)
        goals.append(player[10].text)
        owngoals.append(player[11].text)
        assists.append(player[12].text)
        yellowcard.append(player[13].text)
        secondyc.append(player[14].text)
        redcard.append(player[15].text)
        subin.append(player[16].text)
        subout.append(player[17].text)
    
for k in range(1,21):

    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=Torwart&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id=6&plus=1&page={k}"

    r= requests.get(url, headers=headers)
    r.status_code

    soup = BeautifulSoup(r.text, 'html.parser')
    player_info= soup.find_all('tr', class_=['odd', 'even'])

    # player_info에서 'td'태그만 모두 찾기
    for info in player_info:
        player = info.find_all("td")
        name.append(player[3].text)
        position.append(player[4].text)
        age.append(player[5].text)
        nation.append(player[6].img['alt'])
        team.append(player[7].img['alt'])
        value.append(player[8].text.strip())
        matches.append(player[9].text)
        goals.append(player[10].text)
        owngoals.append(player[11].text)
        assists.append(player[12].text)
        yellowcard.append(player[13].text)
        secondyc.append(player[14].text)
        redcard.append(player[15].text)
        subin.append(player[16].text)
        subout.append(player[17].text)

In [9]:
# 미드필더
for i in range(1, 7) :

    for k in range(1, 21):

        url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=Mittelfeld&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id={i}&plus=1&page={k}"

        r= requests.get(url, headers=headers)
        r.status_code

        soup = BeautifulSoup(r.text, 'html.parser')
        player_info= soup.find_all('tr', class_=['odd', 'even'])

        # player_info에서 'td'태그만 모두 찾기
        for info in player_info:
            player = info.find_all("td")
            name.append(player[3].text)
            position.append(player[4].text)
            age.append(player[5].text)
            nation.append(player[6].img['alt'])
            team.append(player[7].img['alt'])
            value.append(player[8].text.strip())
            matches.append(player[9].text)
            goals.append(player[10].text)
            owngoals.append(player[11].text)
            assists.append(player[12].text)
            yellowcard.append(player[13].text)
            secondyc.append(player[14].text)
            redcard.append(player[15].text)
            subin.append(player[16].text)
            subout.append(player[17].text)

In [8]:
# 공격수
for i in range(1, 7) :

    for k in range(1, 21):

        url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=Sturm&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id={i}&plus=1&page={k}"

        r= requests.get(url, headers=headers)
        r.status_code

        soup = BeautifulSoup(r.text, 'html.parser')
        player_info= soup.find_all('tr', class_=['odd', 'even'])

        # player_info에서 'td'태그만 모두 찾기
        for info in player_info:
            player = info.find_all("td")
            name.append(player[3].text)
            position.append(player[4].text)
            age.append(player[5].text)
            nation.append(player[6].img['alt'])
            team.append(player[7].img['alt'])
            value.append(player[8].text.strip())
            matches.append(player[9].text)
            goals.append(player[10].text)
            owngoals.append(player[11].text)
            assists.append(player[12].text)
            yellowcard.append(player[13].text)
            secondyc.append(player[14].text)
            redcard.append(player[15].text)
            subin.append(player[16].text)
            subout.append(player[17].text)

In [10]:
df = pd.DataFrame(
        {"name":name,
         "position":position,
         "age":age,
         "nation":nation,
         "team":team,
         "value":value,
         "matches": matches,
         "goals":goals,
         "owngoals":owngoals,
         "assists":assists,
         "yellowcard":yellowcard,
         "second yellow card":secondyc,
         "redcard":redcard,
         "substitutions in":subin,
         "substitutions out":subout}
    )
df

,name,position,age,nation,team,value,matches,goals,owngoals,assists,yellowcard,second yellow card,redcard,substitutions in,substitutions out
0,Mathew Ryan,Goalkeeper,31,Australia,AZ Alkmaar,€4.00m,38,0,0,0,2,0,0,0,0
1,Amir Abedzadeh,Goalkeeper,30,Iran,SD Ponferradina,€1.50m,31,0,0,0,5,0,0,1,0
2,Daniel Schmidt,Goalkeeper,31,Japan,Sint-Truidense VV,€1.50m,35,0,0,0,0,0,1,0,1
3,Hyeon-woo Jo,Goalkeeper,31,"Korea, South",Ulsan Hyundai,€1.30m,20,0,0,0,0,0,0,0,0
4,Alireza Beiranvand,Goalkeeper,30,Iran,Persepolis FC,€1.20m,38,0,0,0,4,0,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,Ondrej Duda,Attacking Midfield,28,Slovakia,Hellas Verona,€4.00m,40,2,0,0,12,0,1,10,23
5621,Ivan Sunjic,Defensive Midfield,26,Croatia,Hertha BSC,€4.00m,19,0,0,0,5,0,0,6,6
5622,Adrien Thomasson,Attacking Midfield,29,France,RC Lens,€4.00m,39,6,0,8,3,0,0,10,17
5623,Jimmy Cabot,Right Midfield,29,France,RC Lens,€4.00m,11,0,0,1,2,0,0,6,2
5624,Gadi Kinda,Attacking Midfield,29,Israel,Sporting Kansas City,€4.00m,10,2,0,2,2,0,0,4,6

In [14]:
df['value'] = df['value'].str.replace('€', '')
df['value'] = df['value'].str.replace('m', '')
df['value'] = df['value'].str.replace('k', '000')

In [12]:
df['value'] = df['value'].str.replace('.*k', '', regex = True)

0       4.00m
1       1.50m
2       1.50m
3       1.30m
4       1.20m
        ...
5620    4.00m
5621    4.00m
5622    4.00m
5623    4.00m
5624    4.00m
Name: value, Length: 5625, dtype: object

In [15]:
df

,name,position,age,nation,team,value,matches,goals,owngoals,assists,yellowcard,second yellow card,redcard,substitutions in,substitutions out
0,Mathew Ryan,Goalkeeper,31,Australia,AZ Alkmaar,4.00,38,0,0,0,2,0,0,0,0
1,Amir Abedzadeh,Goalkeeper,30,Iran,SD Ponferradina,1.50,31,0,0,0,5,0,0,1,0
2,Daniel Schmidt,Goalkeeper,31,Japan,Sint-Truidense VV,1.50,35,0,0,0,0,0,1,0,1
3,Hyeon-woo Jo,Goalkeeper,31,"Korea, South",Ulsan Hyundai,1.30,20,0,0,0,0,0,0,0,0
4,Alireza Beiranvand,Goalkeeper,30,Iran,Persepolis FC,1.20,38,0,0,0,4,0,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,Ondrej Duda,Attacking Midfield,28,Slovakia,Hellas Verona,4.00,40,2,0,0,12,0,1,10,23
5621,Ivan Sunjic,Defensive Midfield,26,Croatia,Hertha BSC,4.00,19,0,0,0,5,0,0,6,6
5622,Adrien Thomasson,Attacking Midfield,29,France,RC Lens,4.00,39,6,0,8,3,0,0,10,17
5623,Jimmy Cabot,Right Midfield,29,France,RC Lens,4.00,11,0,0,1,2,0,0,6,2
5624,Gadi Kinda,Attacking Midfield,29,Israel,Sporting Kansas City,4.00,10,2,0,2,2,0,0,4,6

In [16]:
df['position'] = df['position'].str.replace('Goalkeeper', 'GK')
df['position'] = df['position'].str.replace('Centre-Back', 'DF')
df['position'] = df['position'].str.replace('Right-Back', 'DF')
df['position'] = df['position'].str.replace('Left-Back', 'DF')
df['position'] = df['position'].str.replace('Defender', 'DF')
df['position'] = df['position'].str.replace('Attacking Midfield', 'MF')
df['position'] = df['position'].str.replace('Defensive Midfield', 'MF')
df['position'] = df['position'].str.replace('Left Midfield', 'MF')
df['position'] = df['position'].str.replace('Right Midfield', 'MF')
df['position'] = df['position'].str.replace('midfield', 'MF')
df['position'] = df['position'].str.replace('Central Midfield', 'MF')
df['position'] = df['position'].str.replace('Left Winger', 'FW')
df['position'] = df['position'].str.replace('Centre-Forward', 'FW')
df['position'] = df['position'].str.replace('Second Striker', 'FW')
df['position'] = df['position'].str.replace('Attack', 'FW')
df['position'] = df['position'].str.replace('Right Winger', 'FW')
df['position'].unique()

array(['GK', 'MF'], dtype=object)

In [4]:
df.to_csv('trans.csv', index=False) # 저장 후 다시 불러오기

In [3]:
# 몸값을 억 단위로 변경
df = pd.read_csv('trans.csv')
df.loc[df['value'] >= 1000, 'value'] = df['value'] / 1000000
df['value'] = df['value'] * 15
df

,name,position,age,nation,team,value,matches,goals,owngoals,assists,yellowcard,second yellow card,redcard,substitutions in,substitutions out
0,kim min-jae,DF,26,"Korea, South",SSC Napoli,11250.000,47,2,0,2,8,0,0,1,4
1,takehiro tomiyasu,DF,24,Japan,Arsenal FC,5625.000,32,0,0,2,2,0,0,18,9
2,harry souttar,DF,24,Australia,Leicester City,3375.000,22,0,1,2,6,0,0,1,3
3,ko itakura,DF,26,Japan,Borussia Mönchengladbach,2700.000,25,0,0,2,1,0,2,2,0
4,hiroki ito,DF,24,Japan,VfB Stuttgart,1687.500,35,1,0,2,6,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10911,alperen uysal,GK,29,Turkey,Antalyaspor,123.750,12,0,0,0,1,0,0,0,1
10912,adrian lis,GK,30,Poland,Warta Poznan,123.750,28,0,0,0,2,0,0,0,1
10913,zander clark,GK,30,Scotland,Heart of Midlothian FC,123.750,21,0,0,0,0,0,0,1,1
10914,dominik takac,GK,24,Slovakia,Spartak Trnava,118.125,28,0,0,1,2,0,0,1,0
10915,otto hindrich,GK,20,Romania,Kisvárda FC,112.500,26,0,0,0,3,0,0,0,0

In [22]:
df['name'] = df['name'].str.lower()
df

,name,position,age,nation,team,value,matches,goals,owngoals,assists,yellowcard,second yellow card,redcard,substitutions in,substitutions out
0,mathew ryan,GK,31,Australia,AZ Alkmaar,60.0,38,0,0,0,2,0,0,0,0
1,amir abedzadeh,GK,30,Iran,SD Ponferradina,22.5,31,0,0,0,5,0,0,1,0
2,daniel schmidt,GK,31,Japan,Sint-Truidense VV,22.5,35,0,0,0,0,0,1,0,1
3,hyeon-woo jo,GK,31,"Korea, South",Ulsan Hyundai,19.5,20,0,0,0,0,0,0,0,0
4,alireza beiranvand,GK,30,Iran,Persepolis FC,18.0,38,0,0,0,4,0,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,ondrej duda,MF,28,Slovakia,Hellas Verona,60.0,40,2,0,0,12,0,1,10,23
5621,ivan sunjic,MF,26,Croatia,Hertha BSC,60.0,19,0,0,0,5,0,0,6,6
5622,adrien thomasson,MF,29,France,RC Lens,60.0,39,6,0,8,3,0,0,10,17
5623,jimmy cabot,MF,29,France,RC Lens,60.0,11,0,0,1,2,0,0,6,2
5624,gadi kinda,MF,29,Israel,Sporting Kansas City,60.0,10,2,0,2,2,0,0,4,6

In [23]:
# 한국 선수들 이름 형식 변경
df.loc[df['name'].str.contains('.*-.* .*') & df['nation'].str.contains('Korea, South'), 'name'] = df["name"].apply(lambda x: " ".join(reversed(x.split(" "))))

In [24]:
df.to_csv('trans.csv', index=False)